<h1>Wallet homepage</h1>

<h2>Hi {{ user.username }}</h2>


<form action="{% url 'wallet:homepage' %}" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button onclick="myFunction()" type="submit">Submit</button>
</form>


{% if users_coins %}

<p>List of coins:</p>
    <table>
    	<tr>
    		<th> Coin value:</th>
    		<th></th>
    	</tr>
    	
		{% for coin in users_coins %}
		<tr>
			<td>{{ coin.value_of_coin }}</td>
			<td><a href="{% url 'wallet:convertingcoinsbacktomoney' coin.value_of_coin coin.pk %}"><button type="button">Turn back into money</button></a></td>
		</tr>
	    {% endfor %}
    </table>
{% else %}

    
    <p>Currently you have no coins. Create some above.</p>
{% endif %}